/*Applying universal css styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a, li, button{
    font-family: sans-serif;
    font-size: 16px;
    font-weight: 600;
    text-decoration: none;
}
#navBar{
    padding: 2rem 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
}
.logo{
    margin-right: auto;
    font-family: sans-serif;
}
.navLinks{
    list-style: none;
}
.navLinks li{
    display: inline-block;
    padding: 0px 20px;
}
.navLinks li a{
    color: black;
}
#navBar span button{
    margin-left: 25px;
    padding: 9px 20px;
    border-radius: 30px;
    border: none;
    background-color: rgba(137, 43, 226, 0.71);
    color: white;
}
#mnContainer1{
    padding: 1rem 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.text{
    font-family: sans-serif;
}
.mnDiv1{
    h2{
        padding-top: 1rem;
        line-height: 2.8rem;
        font-family: sans-serif;
        font-size: 40px;
    }
    h2 span{
        color: orange;
    }
    p{
        font-family: sans-serif;
        line-height: 1.5rem;
    }
}
.btnSpn{
    padding-top: 1rem;
    gap: 3rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    h2{
        font-size: 30px;
    }
}
.btnSpn span button{
    border: none;
    border-radius: 30px;
    padding: 18px 40px;
    background-color: rgba(137, 43, 226, 0.71);
    color: white;
}
.imDiv img{
    border-radius: 50px;
}

#mnContainer2{
    padding: 2rem 5%;
}

.mnDiv2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
    line-height: 2rem;
    gap: 10px;
    color: white;
    h4{
        color: black;
    }
    hr{
        margin-top: 1rem;
    }

}
.card1{
    flex: 1 1 8rem;
    border-style: groove;
    padding: 2rem;
    border-radius: 10px;
    background-color: deeppink;
}
.card2{
    flex: 1 1 8rem;
    border-style: groove;
    padding: 2rem;
    border-radius: 10px;
    background-color: blueviolet;
}
.card3{
    flex: 1 1 8rem;
    border-style: groove;
    padding: 2rem;
    border-radius: 10px;
    background-color: deepskyblue;
}
.card4{
    flex: 1 1 8rem;
    border-style: groove;
    padding: 2rem;
    border-radius: 10px;
    background-color: orange;
}
.bts{
    padding-left: 2rem;
    button{
        background-color: rgba(137, 43, 226, 0.71);
        padding: 15px;
        color: white;
        border-radius: 50px;
        border: none;
    }

}
 
