/*global styling in css*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*span and a tags css*/
span{
    color: coral;
}
a{
    color: white;
    text-decoration: none;
}
/*applying flexbox_navbar*/
#gparent{
    background-color: blue;
}
#parent{
    display: flex;
    flex-wrap: wrap;
    min-height: 9vh;
    align-items: center;
    color: white;
    width: 90%;
    margin: auto;
}
.child1{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 26rem;
}
.child2{
    display: flex;
    flex-grow: 2;
    flex-shrink: 1;
    flex-basis: 26rem;
    justify-content: space-between;
    list-style: none;  
}