/*global styling in css*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.mee{
    padding: 0 5px;
}
a{
    text-decoration: none;
    color: black;
}
#gParent{
    background-color: bisque;
}
#parent{
    display: flex;
    flex-wrap: wrap;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    margin: auto;
}
.nv1{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 1rem;
    align-items: center;
}
span{
    color: red;
}
#lstSect{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10rem;
    margin: 0 10px;
    padding-right: 10%;    
}
.ordLst{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10rem;
    justify-content: center;
    gap: 4rem;
    list-style: none;
}
button{
    background-color: aqua;
    border: groove 1px red;
    border-radius: 5px;
    padding: 6px;
}

