/*global styling*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: black;
}
#goo{
   background-color: hotpink;
   padding: 10px 0px;
}
#mee{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    width: 90%;
    justify-content: space-between;
    align-items: center;
}
.nee{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10rem;
}
h4{
     padding: 0 3px;
}
#see{
    display: flex;
}
.lee{
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10rem;
    gap: 2rem;
    list-style: none; 
    align-items: center;
    padding:3px 0px;
}
.kit{
    border: groove 2px blue;
    background-color: aqua;
}
/*main section*/
#bee{
    background-color: cornsilk;
    
}
/*div 1*/
.cee{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10rem;
    width: 50%;
    margin: auto;
    justify-items: center;
    padding: 3%;
}
/*div2*/
.dee{
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 10rem;
    width: 60%;
    margin: auto;
    margin-top: 3%;
    justify-items: center;
    justify-content: center;
}
/*paragraph*/
p{
    padding: 10px 0px 10px 10px;
}
.gee{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin: auto;
    justify-content: space-between;
    justify-content: space-around;
    padding: 20px;
    gap: 10px;
}


